/* CSS declarations go here */
body { background-color: gray }

.container { background-color: white }

.big_name {
    font-size: 30px;
 line-height:30px;
color:blue;
border-radius:10px;
border-width:3px;
border-style:solid;
border-color:black;
padding: 20px;
margin: 10px;}

.black_name {
color:black;
}