<head>
  <title>tutorme</title>
</head>

<body>
  <div class="container">
    <div id="home">
      {{> tutorme}}
    </div>
    <div id="workspace" style="display:none">
      {{> workspace_home}}
    </div>
  </div>
</body>

<template name="workspace_home">

  <div class="header row">
    <div class="span5">
    <img src="ssham2.gif">
    <img src="ssham2.gif">
    <img src="ssham2.gif">
    <img src="ssham2.gif">
    <img src="ssham2.gif">
    <img src="ssham2.gif">
      <h1 style="padding:20px;"><marquee>Workspace </marquee><a href="#">(home)</a></h1>
    </div>
    <div class="row">
      <div class="span5">
    	<div style="float: right">
    	  {{loginButtons align="right"}}
    	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span6" style="padding:20px;">
      <canvas id="canvas" width="1920" height="1060" style="border:#000
							    5px solid"></canvas>
    </div>
  </div>
</template>

<template name="tutorme">
  <div class="row">
    <div class="span10">
      <div class="header row">
	<div class="span5">
	  <img src="ssham2.gif">
      	  <h3 style="margin-bottom: 0px;padding:20px;">Workspaces</h3>
	  <img src="ssham2.gif">
      	</div>
	<div class="span5">
    	  <div style="float: right">
    	    {{loginButtons align="right"}}
    	  </div>
    	</div>
      </div>
    </div>
  </div>

  {{#each users}}
  {{> user}}
  {{/each}}
</template>

<template name="user">

  <div class="span3 {{user_string emails}} big_name">
    Visit Space of:
    <h5 class = "black_name">{{user_string emails}}</h5>
    <img src="ssham2.gif">
  </div>
</template>

<template name="workplace_thumb">

  <div class="span3 {{workspace_image link}}">
    <span class="thumbnail_image">{{workspace_image image}}</span>
  </div>
</template>
